language: ruby

rvm:
  - 2.3.0
  - 2.2
  - 2.1
  - 2.0.0
  - 1.9.3

before_install:
  - sudo apt-get update
  - sudo apt-get install libgeoip-dev
  - gem update bundler

gemfile:
  - Gemfile
  - gemfiles/fluentd_v0.10.gemfile
  - gemfiles/fluentd_v0.12.gemfile

